<section id="otherContacts" class="text-center card rounded-5 shadow-lg h-100 p-4 px-lg-2 px-xl-4">
    <div class="container">
        <h3 class="fs-3 text-uppercase fw-bold px-2">
            <span class="text-primary">Přímý</span> kontakt
        </h3>
        <hr class="" />

        <div class="row g-4 g-lg-2 g-xxl-4  pt-lg-5">
            <!-- E-mail -->
            <div class="col-md-6">
                <a href="mailto:kontakt@davidbrach.cz" class="text-decoration-none">
                    <div class="contact-card rounded-4 bg-body-secondary border-dark-subtle">
                        <div class="icon-container bg-primary rounded-circle">
                            <i class="bi bi-envelope text-white"></i>
                        </div>
                        <h5 class="text-dark fw-bold">E-mail</h5>
                        <p class="text-body-secondary">kontakt@davidbrach.cz</p>
                    </div>
                </a>
            </div>

            <!-- Telefon -->
            <div class="col-md-6">
                <a href="tel:+420723124625" class="text-decoration-none">
                    <div class="contact-card rounded-4 bg-body-secondary border-dark-subtle">
                        <div class="icon-container bg-primary rounded-circle">
                            <i class="bi bi-telephone text-white"></i>
                        </div>
                        <h5 class="text-dark fw-bold">Telefon</h5>
                        <p class="text-body-secondary">+420 606 283 358</p>
                    </div>
                </a>
            </div>

            <!-- WhatsApp -->
            <div class="col-md-4">
                <a href="https://wa.me/420606283358" target="_blank" class="text-decoration-none">
                    <div class="contact-card rounded-4 bg-body-secondary border-dark-subtle">
                        <div class="icon-container bg-primary rounded-circle">
                            <i class="bi bi-whatsapp text-white"></i>
                        </div>
                        <h5 class="text-dark fw-bold">WhatsApp</h5>
                    </div>
                </a>
            </div>

            <!-- Facebook -->
            <div class="col-md-4">
                <a href="https://www.facebook.com/david.brach.3/" target="_blank" class="text-decoration-none">
                    <div class="contact-card rounded-4 bg-body-secondary border-dark-subtle">
                        <div class="icon-container bg-primary rounded-circle">
                            <i class="bi bi-facebook text-white"></i>
                        </div>
                        <h5 class="text-dark fw-bold">Facebook</h5>
                    </div>
                </a>
            </div>

            <!-- LinkedIn -->
            <div class="col-md-4">
                <a href="https://www.linkedin.com/in/davidbrach/" target="_blank" class="text-decoration-none">
                    <div class="contact-card rounded-4 bg-body-secondary border-dark-subtle">
                        <div class="icon-container bg-primary rounded-circle">
                            <i class="bi bi-linkedin text-white"></i>
                        </div>
                        <h5 class="text-dark fw-bold">LinkedIn</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
