<section id="heroSection" alt="Úvodní sekce">
    <!-- Background image -->
    <img Src="images/brand/heroSection.webp" class="object-fit-cover position-absolute w-100 h-100" alt="David Břach" style="object-position: right top;"/>
    <!-- Carousel -->
    <div class="col-lg-6 vh-100 carousel slide d-flex align-items-center justify-content-center text-center p-2 p-md-5 p-lg-2" data-bs-ride="carousel">
        <div class="carousel-inner m-2 m-md-5 m-lg-1">
            <!-- Background for small and medium display -->
            <div class="d-lg-none bg-white w-100 h-100 card rounded-lg opacity-75 position-absolute"></div>
            <!-- Carousel items-->
            <div class="carousel-item active p-4 p-md-5 p-lg-2">
                <h1 class="display-4 text-uppercase fw-bold">Tvorba <span class='text-primary'>webových</span> stránek</h1>
                <p class="lead">Vytvořím <span class='text-primary'>rychlé, přehledné a moderní</span> webové stránky, které přivedou nové zákazníky a posilí důvěru těch stávajících.</p>
                <NavLink href="#portfolio" class="btn btn-primary btn-lg rounded-pill" role="button">Moje portfolio</NavLink>
            </div>
            <div class="carousel-item p-4 p-md-5 p-lg-2">
                <h1 class="display-4 text-uppercase fw-bold">Vylepšení a <span class='text-primary'>modernizace</span> webu</h1>
                <p class="lead">Máte pocit, že vaše současná prezentace zaspala dobu? Provedu <span class='text-primary'>drobný facelift nebo kompletní rekonstrukci</span>.</p>
                <NavLink href="#prubehSpoluprace" class="btn btn-primary btn-lg rounded-pill" role="button">Průběh spolupráce</NavLink>
            </div>
            <div class="carousel-item p-4 p-md-5 p-lg-2">
                <h1 class="display-4 text-uppercase fw-bold">Správa a <span class='text-primary'>údržba</span> webu</h1>
                <p class="lead">Nabízím <span class='text-primary'>pravidelné konzultace, aktualizace či drobné modifikace</span>. Dohlédnu na bezpečnost, rychlost i spolehlivost webu v čase.</p>
                <NavLink href="#technologie" class="btn btn-primary btn-lg rounded-pill" role="button">Moje „nářadí“</NavLink>
            </div>
            <div class="carousel-item p-4 p-md-5 p-lg-2">
                <h1 class="display-4 text-uppercase fw-bold">Tvorba <span class='text-primary'>obsahu</span></h1>
                <p class="lead">Zabývám se také <span class='text-primary'>psaním obsahových článků na zakázku</span>. Zpracovávám především sportovní, ekonomická a lifestylová témata.</p>
                <NavLink href="/blog" class="btn btn-primary btn-lg rounded-pill" role="button">Moje články</NavLink>
            </div>
            <div class="carousel-item p-4 p-md-5 p-lg-2">
                <h1 class="display-4 text-uppercase fw-bold">Otevřen <span class='text-primary'>pracovním</span> nabídkám</h1>
                <p class="lead">Hledám stabilní zaměstnání, kde mohu uplatnit <span class='text-primary'>znalosti (nejenom) programovacího jazyka C#</span> a nastartovat kariéru v IT.</p>
                <NavLink href="/kontaktniFormular" class="btn btn-primary btn-lg rounded-pill" role="button">Kontaktní formulář</NavLink>
            </div>
        </div>
    </div>
</section>