<section id="uvod" aria-label="Představení nabízených služeb" class="text-center justify-content-center pt-5">
    <div class="container col-md-10">
        <h2 class="fs-1 text-uppercase fw-bold">Komplexní servis pro vaše stránky</h2>
        <p class="lead text-body-secondary">
            Jsem nadšenec do moderních technologií, který pomáhá jednotlivcům i firmám vytvářet <span class="fw-bold text-primary">profesionální webové aplikace</span>.
            Při své práci kladu důraz na <span class="fw-bold text-primary">jednoduchost, přehlednost, rychlost a maximální funkčnost</span>.
        </p>
        <p class="lead text-body-secondary">
            Proč právě já? Zákazníkům nabízím komplexní balíček služeb. 
            Ovládám totiž <span class="fw-bold text-primary">moderní backendové i frontendové technologie</span>, mám bohaté zkušenosti s vytvářením obsahu,
            rozumím digitálnímu marketingu a <span class="fw-bold text-primary">dokážu stránky optimalizovat pro vyhledávače (SEO)</span>.
            Navrh přidávám možnost pravidelných konzultací, aktualizací a správy obsahu.
        </p>
        <p class="lead text-body-secondary">
            Vy se zkrátka můžete naplno <span class="fw-bold text-primary">věnovat svému podnikání</span> a já mezitím zařídím všechno ostatní.
        </p>
    </div>
</section>