/* Zaoblení všech položek akordeonu */
.accordion-item {
    border-radius: 0.75rem; /* Zaoblení rohů */
    overflow: hidden; /* Zajistí, že obsah nepřetéká přes zaoblené rohy */
    border: none; /* Volitelné: odstranění rámečku mezi položkami */
}

/* Zaoblení tlačítek akordeonu */
.accordion-button {
    border-radius: 0.75rem; /* Zaoblené rohy tlačítka ve sbaleném stavu */
    border: none; /* Odstranění okrajů tlačítka */
}

    /* Zaoblení pouze horních rohů, když je tlačítko rozbalené */
    .accordion-button:not(.collapsed) {
        border-radius: 0.75rem 0.75rem 0 0; /* Zaoblení pouze horních rohů */
        box-shadow: none; /* Odstranění modrého zvýraznění */
        border: none; /* Odstranění rámečku */
    }

/* Volitelné: odstranění mezery mezi tlačítkem a obsahem */
.accordion-collapse {
    border-top: none; /* Odstraní rámeček mezi tlačítkem a obsahem při rozbalení */
}
@media (min-width: 768px) {
    .custom-card {
        display: block; /* Povinné, pokud chcete skrývat na menších obrazovkách */
        background-color: #6c757d;
        border-radius: 0;
        border-top-left-radius: 0.375rem; /* Hodnota Bootstrap rounded-top */
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    /* Třída .card (volitelně) */
    .custom-card {
        box-shadow: var(--bs-box-shadow);
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }
}
