<section id="openingBlock" aria-label="Stručný popis Davida Břacha, junior programátora a tvůrce webových aplikací" style="padding-top: 100px;" class="pb-5">
    <h2 class="fs-1 text-uppercase fw-bold px-2 text-center">O <span class="text-primary">mně</span></h2>
    <div class="container col-md-10 col-lg-12 col-xl-10 lead">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xxl-3 col-md-6 align-self-center px-5 px-lg-0">
                <img src="images/brand/aboutMe1.webp" alt="David Břach" class="img-fluid" loading="lazy" />
            </div>
            <div class="col-lg-8 col-xxl-9 align-self-center text-center text-lg-start text-body-secondary">
                <p>
                    Vítejte na mém osobním webu! Jmenuji se David Břach, pocházím ze západočeské metropole a <span class="fw-bold text-primary">tvořím moderní webové aplikace</span>.
                    Moje cesta k programování však nebyla úplně tradiční, napříč roky jsem si vyzkoušel několik různorodých profesí.
                </p>
                <p>
                    Začínal jsem jako stavební dělník, posléze mě nějakou dobu živilo <span class="fw-bold text-primary">provozování webových stránek a psaní článků na zakázku</span>,
                    rozvážení balíčků a potravin nebo kontrola kvality ve firmě zabývající se výrobou zemědělských strojů.
                    Nakonec jsem zásluhou <span class="fw-bold text-primary">rekvalifikačního kurzu</span> objevil svět kódů, který mě naprosto uchvátil.
                </p>
                <p>
                    Co mě pohání vpřed? <span class="fw-bold text-primary">Vášeň pro technologie, kreativitu</span> a touha vytvořit něco, co bude užitečné, funkční a zároveň esteticky přitažlivé.
                </p>
            </div>
        </div>
    </div>
</section>