<section id="videocitation" aria-label="Oblíbený citát Davida Břacha zasazený do videa" class=" pb-5">
    <div id="coding">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/videos/laptop.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white py-3 bg-dark bg-opacity-75 rounded">
                    <div class="p-4">
                    <h3 class="fs-2">
                        „Jedna hodina nadšení vyváží víc než celý rok spořádaného a jednotvárně plynoucího života. Není úspěchu bez úsilí, není žáru bez ohně.“
                    </h3>
                    <p class="lead mb-0">
                        <em>— <span class=fw-bold>Christian Morgenstern</span>, německý básník a novinář</em>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
