<section id="uvod" aria-label="Představení nabízených služeb" class="text-center justify-content-center pb-4">
    <div class="container col-md-10">
        <h2 class="fs-1 text-uppercase fw-bold px-2"><span class="text-primary">Komplexní servis</span> pro vaše stránky</h2>
        <p class="lead text-body-secondary">
            Jsem nadšenec do moderních technologií, který pomáhá jednotlivcům i firmám vytvářet <span class="fw-bold text-primary">profesionální webové aplikace</span>.
            Při své práci kladu důraz na jednoduchost, přehlednost, rychlost a maximální funkčnost.
        </p>
        <p class="lead text-body-secondary">
            Zákazníkům nabízím komplexní balíček služeb. 
            Ovládám totiž <span class="fw-bold text-primary">moderní backendové i frontendové technologie</span>, mám bohaté zkušenosti s vytvářením obsahu,
            rozumím základům digitálního marketingu a dokážu stránky optimalizovat pro vyhledávače (SEO).
            Navrch přidávám možnost pravidelných aktualizací a správy obsahu.
        </p>
        <p class="lead text-body-secondary">
            Vy se zkrátka můžete naplno <span class="fw-bold text-primary">věnovat svému podnikání</span> a já mezitím zařídím všechno ostatní.
        </p>
    </div>
</section>