<footer class="footer py-4 bg-black text-light text-center" aria-label="Patička s informacemi o provozovateli">
    <div class="container col-xl-11 col-xxl-10">
        <p class="text-center fw-bold d-flex justify-content-center align-items-center gap-2 m-0">
            &copy; @DateTime.Now.Year
            <a href="/" class="text-decoration-none text-light d-inline-flex align-items-center" @onclick="@(async () => NavigationManager.NavigateTo("/", forceLoad: true))">
                <img src="images/brand/logoNavMenu.webp" alt="Logo" loading="lazy" class="footer-logo">
            </a>
        </p>
        <p class="text-center fw-bold m-0">
            Všechna práva vyhrazena.
            <br />
            <a href="/zasady-ochrany-osobnich-udaju" class="text-decoration-none" @onclick="@(async () => NavigationManager.NavigateTo("/zasady-ochrany-osobnich-udaju", forceLoad: true))">
            Zásady ochrany osobních údajů
        </a>
        </p>
        <hr />
        <div>
            <h1 class="h5 fw-bold text-uppercase">Provozovatel</h1>
            <p>
                David Břach
                <br />
                IČO: 04866452
                <br />
                Sadová 121, 340 12 Měčín
            </p>
            <p>
                <a href="https://www.linkedin.com/in/davidbrach/" class="text-primary me-3" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profil">
                    <i class="bi bi-linkedin fs-4"></i>
                </a>
                <a href="https://www.facebook.com/david.brach.3/" class="text-primary me-3" target="_blank" rel="noopener noreferrer" aria-label="Facebook profil">
                    <i class="bi bi-facebook fs-4"></i>
                </a>
                <a href="https://github.com/brachdavid/" class="text-primary me-3" target="_blank" rel="noopener noreferrer" aria-label="GitHub profil">
                    <i class="bi bi-github fs-4"></i>
                </a>
            </p>
        </div>
        <hr />
        <div>
            <a href="https://www.firmy.cz/detail/13356077-david-brach-tvorba-webovych-stranek-mecin.html#pridat-hodnoceni" target="_blank" rel="noopener"><img src="https://www.firmy.cz/img/widgets/firmy-ohodnotte-nas-tmave.svg" alt="David Břach | Tvorba webových stránek na Firmy.cz" loanding="lazy"/></a>
        </div>
    </div>
</footer>
<style>
    .footer-logo {
        height: 1.5rem; /* Přizpůsobení velikosti textu ve footeru */
        max-height: 100%;
        width: auto; /* Automatické přizpůsobení šířky */
    }
</style>