@inherits LayoutComponentBase

<header class="sticky-top">
    <NavMenu @rendermode="InteractiveServer" />
</header>

<main data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
    @Body
</main>

<Footer />