@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<nav id="navbar" class="navbar navbar-expand-lg py-3 fixed-top position-absolute bg-black fs-5" data-bs-theme="dark">
    <div class="container-fluid col-xl-11 col-xxl-10">
        <a class="navbar-brand" href="/" @onclick="NavigateAndCloseMenu" Match="NavLinkMatch.All">MOJE APLIKACE</a>

        <button class="navbar-toggler" type="button" @onclick="ToggleMenu" aria-controls="navbarNav" aria-expanded="@IsMenuOpen" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse @(IsMenuOpen ? "show" : "")" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-lg-2">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" @onclick="NavigateAndCloseMenu" Match="NavLinkMatch.All">Úvod</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/o-mne" @onclick="NavigateAndCloseMenu">O mně</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/prubeh-spoluprace" @onclick="NavigateAndCloseMenu">Průběh spolupráce</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/reference" @onclick="NavigateAndCloseMenu">Reference</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/blog" @onclick="NavigateAndCloseMenu">Blog</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="btn btn-primary rounded-pill fs-5 py-1 px-4" href="/kontakt" @onclick="NavigateAndCloseMenu">Kontakt</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool IsMenuOpen = false;

    private void ForceRefresh()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }

    private void NavigateAndCloseMenu()
    {
        ForceRefresh();
        // Zavře menu na mobilních zařízeních a nastaví scrollovací pozici
        IsMenuOpen = false;
    }
}
