@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<nav id="navbar" class="navbar navbar-expand-lg py-3 fixed-top fw-bold position-absolute bg-black fs-5" data-bs-theme="dark" >
    <div class="container-fluid col-xl-11 col-xxl-10">
        <!-- Brand nalevo -->
        <a class="navbar-brand " href="/" @onclick="ForceRefresh">MOJE APLIKACE</a>

        <!-- Toggler button pro mobilní zařízení -->
        <button class="navbar-toggler" type="button" @onclick="ToggleMenu" aria-controls="navbarNav" aria-expanded="@IsMenuOpen" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigační položky -->
        <div class="collapse navbar-collapse @(IsMenuOpen ? "show" : "")" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-lg-2">
                <!-- Přidáno ms-auto pro zarovnání doprava -->
                <li class="nav-item">
                    <a class="nav-link" href="#uvod" @onclick="NavigateAndCloseMenu">Úvod</a>
                </li>
                <li class="nav-item">
                    <NavLink href="/o-mne" class="nav-link">O mně</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="#nabidka" class="nav-link">Nabídka</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/prubeh-spoluprace" class="nav-link">Průběh spolupráce</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/reference" class="nav-link">Reference</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/blog" class="nav-link">Blog</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/kontakt" class="btn btn-primary rounded-pill fs-5 py-1 px-4 fw-bold" role="button">Kontakt</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private void ForceRefresh()
    {
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }
    private bool IsMenuOpen = false;

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }

    private void NavigateAndCloseMenu()
    {
        IsMenuOpen = false;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeScrollSpy");
        }
    }
}
