<section id="identityNavMenu" class="lead text-white">
    <div class="container">
        <div class="row">
            <div class="d-flex gap-3 justify-content-center">
                <NavLink class="nav-link" href="/admin">Profil</NavLink>
                <NavLink class="nav-link" href="/pridat-clanek">Přidat článek</NavLink>
                <NavLink class="nav-link" href="/pridat-projekt">Přidat projekt</NavLink>
                <NavLink class="nav-link" href="/odhlaseni">Odhlásit</NavLink>
            </div>
        </div>
    </div>
</section>