@page "/kontakt"

<PageTitle>Kontakt | David Břach</PageTitle>

<section id="contact" style="padding-top: 100px;" class="pb-5">
    <div class="container text-center col-md-10 col-lg-12 col-xl-10 justify-content-center">
        <h2 class="fs-1 text-uppercase fw-bold px-2">Kontaktní <span class="text-primary">informace</span></h2>
        <p class="lead mb-4 text-body-secondary">
            Pokud máte zájem o spolupráci, chcete se na něco důležitého zeptat, nebo mi prostě jen toužíte napsat, můžete využít třeba kontaktní formulář níže.
            <span class="fw-bold text-primary">Jsem otevřený novým projektům, příležitostem i diskusím.</span> Těším se na Vaše zprávy!
        </p>
        <div class="row">
            <div class="col-lg-6 px-4 px-lg-2 px-xxl-4 mb-3 mb-lg-0">
                <div class="h-100">
                    <ContactForm />
                </div>
            </div>
            <div class="col-lg-6 px-4 px-lg-2 px-xxl-4">
                <div class="h-100">
                    <OtherContacts />
                </div>
            </div>
        </div>
        <div class="mt-5">
            <Calendly />
        </div>
    </div>
</section>