@page "/kontakt"

<PageTitle>Kontakt | David Břach</PageTitle>

<HeadContent>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Máte zájem o spolupráci nebo se chcete na něco zeptat? Neváhejte mě kontaktovat. Jsem otevřený novým projektům a příležitostem." />

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="Kontakt | David Břach" />
    <meta property="og:description" content="Chcete se domluvit na spolupráci nebo se jen na něco zeptat? Kontaktujte mě! Jsem otevřený novým projektům i diskusím." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://davidbrach.cz/kontakt" />
    <meta property="og:image" content="https://davidbrach.cz/images/brand/coding.webp" />
    <meta property="og:site_name" content="David Břach | Kontakt" />
    <meta property="og:locale" content="cs_CZ" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Kontakt | David Břach" />
    <meta name="twitter:description" content="Máte dotaz nebo zájem o spolupráci? Ozvěte se mi, rád se s vámi pobavím o vašem projektu." />
    <meta name="twitter:image" content="https://davidbrach.cz/images/brand/coding.webp" />

    <link rel="canonical" href="https://davidbrach.cz/kontakt">
</HeadContent>


<section id="contact" style="padding-top: 100px;" class="pb-5">
    <div class="container text-center col-md-10 col-lg-12 col-xl-10 justify-content-center">
        <h2 class="fs-1 text-uppercase fw-bold px-2">Kontaktní <span class="text-primary">informace</span></h2>
        <p class="lead mb-4 text-body-secondary">
            Pokud máte zájem o spolupráci, chcete se na něco důležitého zeptat, nebo mi prostě jen toužíte napsat, můžete využít třeba kontaktní formulář níže.
            <span class="fw-bold text-primary">Jsem otevřený novým projektům, příležitostem i diskusím.</span> Těším se na Vaše zprávy!
        </p>
        <div class="row">
            <div class="col-lg-6 px-4 px-lg-2 px-xxl-4 mb-3 mb-lg-0">
                <div class="h-100">
                    <ContactForm />
                </div>
            </div>
            <div class="col-lg-6 px-4 px-lg-2 px-xxl-4">
                <div class="h-100">
                    <OtherContacts />
                </div>
            </div>
        </div>
        <div class="mt-5">
            <Calendly />
        </div>
    </div>
</section>