@page "/pristup-odepren"

<PageTitle>Přístup odepřen - David Břach</PageTitle>

<section id="accessDenied" aria-label="Přístup odepřen" style="padding-top: 100px;" class="pb-5">
    <div class="container col-md-8 col-lg-6 justify-content-center text-center">
        <h1 class="fs-1 text-uppercase fw-bold px-2">Přístup <span class="text-primary">odepřen</span></h1>
        <p>Nemáte oprávnění pro přístup k této stránce</p>
    </div>
</section>
