@page "/prihlaseni"

<PageTitle>Přihlášení - David Břach</PageTitle>

<HeadContent>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content="Tato stránka slouží pro správu obsahu a není určena k indexaci." />
</HeadContent>


@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<section id="login" aria-label="Přihlasovací stránka" style="padding-top: 100px;" class="pb-5">
    <div class="container col-md-8 col-lg-6 justify-content-center text-center">
        <h1 class="fs-1 text-uppercase fw-bold px-2 text-primary">Přihlášení</h1>
        <div class="card rounded-5 shadow-lg p-4 p-md-5">
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h2>Zadejte své přihlašovací údaje.</h2>
                <hr />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="password" class="form-label">Heslo</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div class="checkbox mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                        Zapamatovat si mě
                    </label>
                </div>
                <div class="pb-3">
                    <button type="submit" class="btn btn-lg btn-primary rounded-pill px-4">Přihlásit se</button>
                </div>
            </EditForm>
        </div>
    </div>
</section>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("Vítejte.");
            NavigationManager.NavigateTo("/admin", forceLoad: true);
        }
        else
        {
            errorMessage = "Error: Nesprávné přihlašovací údaje.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        public bool RememberMe { get; set; }
    }
}
